<!doctype html>
<html lang="en">
    <header></header>
    <body>
        <!--error message-->
        {% for message in get_flashed_messages() %}
                <div style="
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            padding: 7px;
                            margin: 7px 0;
                            color: rgb(243,111,99);
                            border-radius: 5px;
                            text-align: center;
                            font-size: 200%;
                            font-family: Comic Sans MS">
                    {{ message }}
                    <div>
                        <img style="height: 80%; width: 80%" src="../static/icons/error_hint" alt="error hints">
                    </div>
                </div>

        {% endfor %}

        <script>
        // stay in error message page for 3 sec then turn back to index page
        setTimeout(function(){
        window.location.href="http://127.0.0.1:5000/index";
        },3000);
        </script>

    </body>
</html>