<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>My recipes</title>
    <!-- flask: use static file -->
    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <link href=" {{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='bootstrap-5.0.1-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- browser utilize-->
    <!-- Custom styles for this template -->
    <link href="../../static/base.css" rel="stylesheet">
    <link href="../../static/style.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header id="head_menu_bar" style="padding-bottom:80px">
        <nav class="navbar navbar-expand-md  fixed-top bg-main-color ">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="navbar-brand ps-3 logo " style="width: 260px;" href="{{url_for('index')}}">My recipes</a>
                <form class=" m-auto d-flex" action="{{ url_for('search') }}">
                    <input id="searchbox" name ="keyword" type="search" value="" class="form-control" placeholder="Search..." >
                    <button type="submit" style="border: 0; background: transparent">
                        <img src="../../static/icons/search(2).png" width="40" height="40" />
                    </button>
                </form>
                <!-- when  login  show this bar -->
                <div id= "header_user_bar" class="pe-3" style="display:none ; width:260px">
                    <a href="{{url_for('profile',subname='info')}}"><img id="login_user_icon" class="ms-auto" src="" style="display:block; margin:0 auto;border-radius: 50%;padding:3px;"
                        width="40" height="40"/></a> 
                    <a href="/profile/news" class="nav-link px-1 profilebar-text ">For you</a>
                    <a href="/profile/favorite" class="nav-link px-1 profilebar-text">Favorite</a>
                    <button onclick="javascript:window.location.href='/editrecipe/0'" class="user-bar-button">New recipe</button>
                </div>
                <!-- without login  show this bar -->
                <div id="loginbutton" class=" pe-3 js-signin-modal-trigger" style="width: 260px;">
                    <button  type="button"
                        class="user-bar-button ms-auto"  style="display: block; height: 40px;"
                        href="#0" data-signin="login">Login/Signup</button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="main_sight" class="container-md " style="max-width: 1140px;">

            <!--navigate back to index page-->
            <p style="padding: 12px"><a href="/index" style="color: black">Home</a> > Search</p>

            <div class="container d-flex pb-5 ">
                <!--multi-search box background-->
                <div style="margin-right: 20px; ">
                    <div style="background: url('../static/icons/search_backgroud.jpg'); width: 218px;height: 288px;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;margin-bottom: 30px;">
                        <form style="height:100%;" action="{{ url_for('search') }}">

                            <!--keyword box-->
                            <div style="margin-top: 10%">
                                <label style="width: 40%;text-align: right;font-size: medium;">Keywords/
                                    name:</label>
                                <input id="search_by_keywords" type="text" style="width: 50%; height: 30px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 0.25rem; font-size: medium;" name="keyword"/>
                            </div>

                            <!--type-->
                            <div style="margin-top: 5%">
                                <label style="width: 40%;text-align: right;font-size: medium;">Type:</label>
                                <select style="width: 50%; height: 30px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 0.25rem;font-size: medium;" name="type">
                                    <option id="no_type"> </option>
                                    <option id="breakfast and brunch">breakfast and brunch</option>
                                    <option id="lunch box">lunch box</option>
                                    <option id="dinner">dinner</option>
                                    <option id="quick&easy">quick&easy</option>
                                    <option id="vegan">vegan</option>
                                    <option id="international food">international food</option>
                                    <option id="baking">baking</option>
                                    <option id="healthy food">healthy food</option>
                                    <option id="drink">drink</option>
                                    <option id="dessert">dessert</option>
                                </select>
                            </div>

                            <!--method-->
                            <div style="margin-top: 5%">
                                <label style="width: 40%;text-align: right;font-size: medium;">Method:</label>
                                <select style="width: 50%; height: 30px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 0.25rem;font-size: medium;" name="method">
                                    <option id="no_method"> </option>
                                    <option id="baking">baking</option>
                                    <option id="frying">frying</option>
                                    <option id="roasting">roasting</option>
                                    <option id="grilling">grilling</option>
                                    <option id="steaming">steaming</option>
                                    <option id="poaching">poaching</option>
                                    <option id="simmering">simmering</option>
                                    <option id="broiling">broiling</option>
                                    <option id="blanching">blanching</option>
                                    <option id="braising">braising</option>
                                    <option id="stewing">stewing</option>
                                </select>
                            </div>

                            <!--ingredients-->
                            <div style="margin-top: 5%">
                                <label style="width: 40%;text-align: right;font-size: medium;">Ingredients:</label>
                                <input style="width: 50%; height: 30px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 0.25rem;font-size: medium;" type="text" name="ingredients" id="search_by_ingredients"/>
                            </div>

                            <!--contributor-->
                            <div style="margin-top: 5%">
                                <label style="width: 40%;text-align: right;font-size: medium;">Contributor:</label>
                                <input style="width: 50%; height: 30px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 0.25rem;font-size: medium;" type="text" name="contributor" id="search_by_contributor"/>
                            </div>

                            <!--search button-->
                            <div style="text-align: center;margin-top: 10%">
                                <button class="user-bar-button" style="width: 30%;" type="submit">Search</button>
                            </div>

                        </form>
                    </div>
                    <div id="canvas-container" style="border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;">
                        <p class="index-head-text text-center" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">Top 10 search words</p>
                        <canvas id="canvas" style="width: 218px;height: 158px;"></canvas>
                    </div>
                </div>
                <div id="top_recipes" class="row row-cols-1 mb-3" style="width:75%">

                </div>

            </div>
        </div>
        
         <!-- Modal -->
         <div class="modal fade" id="login_before" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Please Login!</strong>  
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                </div>
            </div>
        </div>
        <div  class="cd-signin-modal js-signin-modal"> <!-- this is the entire modal form, including the background -->
            <div id="login_signup_windows" class="cd-signin-modal__container"> <!-- this is the container wrapper -->
                <div>
                    <img src="../../static/icons/logincover.jpg" alt="Logo">
                </div>

                <div class="cd-signin-modal__block js-signin-modal-block" data-type="login"> <!-- log in form -->
                    <form class="cd-signin-modal__form" action="/login" method="POST">

                        <p class="cd-signin-modal__fieldset">
                            <input name="email" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="Email Address *">
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input name="password" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="password"  placeholder="Password *">
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="SIGN IN">
                        </p>
                        <p class="cd-signin-modal__fieldset js-signin-modal-trigger link-to-model"><a href="#0" data-signin="signup">   Don't have an account? Sign up</a></p>

                    </form>

                </div> <!-- cd-signin-modal__block -->

                <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup"> <!-- sign up form -->
                    <form class="cd-signin-modal__form" action="/signup" method="POST">
                        <p class="cd-signin-modal__fieldset">
                            <input name="id" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-username" type="text" placeholder="ID *">
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input name="email" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-email" type="email" placeholder="Email *">
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input name="password" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signup-password" type="password"  placeholder="Password *">
                        </p>

                        <p class="cd-signin-modal__fieldset">
                            <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding" type="submit" value="CREATE ACCOUNT">
                        </p>
                        <p class="cd-signin-modal__fieldset js-signin-modal-trigger link-to-model"><a href="#0" data-signin="login">Have an account? Sign in</a></p>

                    </form>
                </div> <!-- cd-signin-modal__block -->
                <a href="#0" class="cd-signin-modal__close js-close">Close</a>
            </div> <!-- cd-signin-modal__container -->
        </div> <!-- cd-signin-modal -->

    </main>


    <script src="{{ url_for('static', filename='bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='main.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='wordcloud2.js')}}"></script>
    <script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

var usersrc="{{usersrc}}";
var login_status="{{login_status}}";

  //login check
$(function() {
      if (login_status =="true") {
            document.getElementById("loginbutton").style.display="none";
            document.getElementById("header_user_bar").style.display="flex";
            document.getElementById("login_user_icon").src= usersrc;
        }
})

/*load content into multi-search box*/
$(function() {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        var keyword = getUrlVars()['keyword'];
        var type = getUrlVars()['type'];
        var method = getUrlVars()['method'];
        var ingredients = getUrlVars()['ingredients'];
        var contributor = getUrlVars()['contributor'];
        if (typeof keyword !== "undefined") {
            keyword = keyword.replace('+', ' ');
            document.getElementById("search_by_keywords").value=keyword;
        }
        if (typeof type !== "undefined") {
            type = type.replace('+%26+', '&'); /*convert Quick&Easy*/
            type = type.replace('%26', '&');
            type = type.toLowerCase(); /*convert Quick&Easy*/
            type = type.replace(/\+/gi, ' ');
            if (type === "") {
                document.getElementById('no_type').selected=true;
            } else {
                document.getElementById(type).selected=true;
            }
        }
        if (typeof method !== "undefined") {
            method = method.replace('+', ' ');
            if (method === ""){
                document.getElementById('no_method').selected=true;
            } else {
                document.getElementById(method).selected=true;
            }
        }
        if (typeof ingredients !== "undefined") {
            ingredients = ingredients.replace('+', ' ');
            document.getElementById('search_by_ingredients').value=ingredients;
        }
        if (typeof contributor !== "undefined") {
            contributor = contributor.replace('+', ' ');
            document.getElementById('search_by_contributor').value=contributor;
        }

      });

/*load recipes*/
$(function() {
    var recipes = JSON.parse('{{ recipes|tojson }}');

    var str_recipe="";

    for (var i in recipes){

        /*get the value of i-th recipe*/
        var value = recipes[i];

        /*initialize each recipe*/
        var heart_src = "../../static/icons/like_2_32.png";
        var heart_value = false;
        if (value['like'] === "true") {
            heart_src = "../../static/icons/like_full.png";
            heart_value = true;
        }

        str_recipe+= "<div id=\""+value['id']+"\"class=\"col-sm-3 mb-2\">"+
                     "<div class=\"card h-100 rounded-3 shadow-sm\">"+
                        "<img src=\""+value['src']+"\"class=\"card-img-top\"/>"+
                        "<div class=\"card-body\">"+
                            "<a class=\"recipe-title\" href=\"/recipe/"+value['id']+"\"><h5 class=\"card-title text-center\" style=\"font-weight:bold\">"+value['title']+
                            "</h5></a>"+
                            "<div class=\"pb-3 text-center\">"+
                              "<p class=\" total_likes d-sm-inline\">"+value['totallikes']+"  "+"</p>"+
                              "<img class=\"like_icon\" value=\""+heart_value+"\" src=\""+heart_src+"\" type=\"button\""+
                                "style=\"height: 21px; width: 21px;\">"+
                            "</div>"+
                            "<p class=\"text-truncate card-text\" style=\"font-size: medium\">"+value['description']+"</p>"+
                            "<p class=\"card-text text-center\" style=\"font-size: medium\">By "+value['author']+" </p>"+
                        "</div>"+
                    "</div>"+
                "</div>";
    }
    /*if no search results*/
    if (str_recipe === ""){
        str_recipe = "<div class=\"m-auto text-center \" style=\"color: #F36F63;font-size: medium;\"><div><b>Sorry, no results :(</b></div>"+
                        "<div>Try other search conditions please!</div></div>";
    }
    document.getElementById("top_recipes").innerHTML = str_recipe;
});


// like or cancel like
$(function() {

            $(".like_icon").click(function() {
          /*get parameters*/
          totallikes =  $(this).prev().html();
          recipe_id = $(this).parent().parent().parent().parent().attr('id');
          like_status = $(this).val();

          /*initialization*/
          if (like_status === '') {
                $(this).val($(this).attr('value')==='true');
                like_status = $(this).val();
          }
          
          if(login_status=="true")
          { /*check whether like or not*/
            if(like_status === 'true' || like_status === true) {
                $(this).attr("src","../../static/icons/like_2_32.png")
                totallikes--;
                $.post( $SCRIPT_ROOT + '/likeopration/0/'+ recipe_id);
                like_status = false;
            }
            else{
                $(this).attr("src","../../static/icons/like_full.png")
                totallikes++;
                $.post( $SCRIPT_ROOT + '/likeopration/1/'+ recipe_id);
                like_status = true;
            }

          /*change value after click*/
          $(this).prev().html(totallikes+"  ");
          $(this).val(like_status);
          }
          else
          {
            $("#login_before").modal("show");
          }
         
        });
});

/*word cloud*/
$(function(){
        $.getJSON($SCRIPT_ROOT + '/getcloudpic',function(data){
            var options = eval({
                "list": [
                    [data[0], 10],
                    [data[1], 9],
                    [data[2], 8],
                    [data[3], 7],
                    [data[4], 6],
                    [data[5], 5],
                    [data[6], 4],
                    [data[7], 3],
                    [data[8], 3],
                    [data[9], 3]
                ],
                "gridSize": 1, // size of the grid in pixels
                "weightFactor": 5, // number to multiply for size of each word in the list
                "fontWeight": 'normal', // 'normal', 'bold' or a callback
                "fontFamily": 'Times, serif', // font to use
                "color": 'random-light', // 'random-dark' or 'random-light'
                "backgroundColor": 'white', // the color of canvas
                "rotateRatio": 0 // probability for the word to rotate. 1 means always rotate
            });
            var canvas = document.getElementById('canvas');
            WordCloud(canvas, options);

        })
    }
);


</script>
</body>

</html>